transformers
einops
accelerate
langchain
bitsandbytes
torch
chromadb
langchain-huggingface
langchain_community
pdfplumber
tiktoken
python-docx
PyMuPDF
docx2txt
sentencepiece
requests
beautifulsoup4
streamlit
pyngrok
PyPDF2
docx
chromadb